# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Windows git error dumps
*sh.exe.stackdump

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/

# PyBuilder
target/

# PyCharm
.idea/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse & build artifacts
*.classpath
*.project
*.settings
*target/
/.metadata/
*dependency-reduced-pom.xml

.idea
.gradle
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/7.4/checksums/checksums.lock
/.gradle/7.4/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.4/executionHistory/executionHistory.bin
/.gradle/7.4/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/7.4/fileHashes/fileHashes.bin
/.gradle/7.4/fileHashes/fileHashes.lock
/.gradle/7.4/dependencies-accessors/gc.properties
/.gradle/7.4/gc.properties
/.gradle/vcs-1/gc.properties
/.gradle/7.4/fileChanges/last-build.bin
/.gradle/7.4/checksums/md5-checksums.bin
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/7.4/checksums/sha1-checksums.bin
